In [3]:
import os
os.chdir("..")

In [4]:
import pandas as pd

In [5]:
pd.read_csv("data/inflacion_argentina.csv")

        mes  inflacion
0    2017m1      1.585
1    2017m2      2.067
2    2017m3      2.314
3    2017m4      2.733
4    2017m5      1.376
..      ...        ...
93  2024m10      2.692
94  2024m11      2.427
95  2024m12      2.704
96   2025m1      2.211
97   2025m2      2.402

[98 rows x 2 columns]